<h3>Just a cool Idea. I always wanted something like this to help my trips</h3>
<p>notification works!</p>
<p>The plan is to build a service which helps users plan trips bu specifying favourabe weather conditions for a date and place.</p>
<p>The user can a select a date range, and specify a city for each date to create a weather alert. The user will also have to provide their email for receiving notifications for the created alert.</p>
<p>The weather alert will match the user specified weather conditions and if they all match, the user will receive a notification with the information.</p>