<app-search-city></app-search-city>

<p>Search works with only 4 cities. We can add more cities by just updating the cityList.json in the nodeJs code.</p>
<p>Try searching for Hyderabad, Mumbai, Delhi, and Chicago</p>
<p>Make sure the services are running (Run app.js file in the node repo)</p>
<app-current-weather style="display: flex;justify-content: center; margin: 10px 0 10px 0"></app-current-weather>
<br><br>
<p>The service to pull the date is completed</p>
<p>Did not bind the data to the forecast component</p>
<app-forecast style="display: flex;justify-content: center;"></app-forecast>
<br>
<br>
<br>
<br>
<app-notification style="font-weight: 300; color:black"></app-notification>